body {
	/* match banner color exactly! */
	background: hsl(0,0%,97%);
}

ol, ul {
	list-style-position: outside;
	margin-left: 2rem;
}

.task-list {
	list-style: none;
}

.task-list-item {
	margin: 0 0.3rem 0.15rem -2rem;
	vertical-align: middle;
}

h6 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

blockquote {
	margin-left: 1rem;
	padding-left: 1rem;
	border-left: 3px solid #E1E1E1;
}

figure {
	/* table in order to scale figcaption to same size as image */
	display: table;
	margin: 1rem auto 2.5rem auto;
	position: relative;
}

figure > figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	background: rgba(0,0,0,0.3);
	color: white;
}

figcaption > * {
	margin: 0;
}

a.subtle {
	color: inherit;
	text-decoration: none;
}

.text-muted {
	color: #999;
}

.tag:hover {
	color: #333;
	border-color: #888;
}

.text-center {
	text-align: center;
}

.flex-center {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.flex-center-horizontal {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.no-margin {
	margin: 0;
}

.page-section {
	margin: 5rem auto;
}

.page-section.thin {
	max-width: 65rem;
}

.card {
	background-color: #FFF;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	margin-bottom: 2rem;
}

.card-header-image {
	display: block;
	width: 100%;
	height: 20rem;
	object-fit: cover;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.card-header-text {
	border-bottom: 1px solid #E1E1E1;
}

.card-header-text,
.card-content {
	padding: 1rem;
}

.card-content hr {
	margin-left: -1rem;
	margin-right: -1rem;
}

/* disable large margin on bottom of card */
.card-content > *:last-child {
    margin-bottom: 0;
}

@media (min-width: 550px) {
	.card-header-text,
	.card-content {
		padding: 2rem;
	}

	.card-content hr {
		margin-left: -2rem;
		margin-right: -2rem;
	}

	.card-deck {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-around;
		margin: 0 -1rem;
	}

	.card-deck .card {
		margin: 1rem;
		flex: 1 0 30%;
	}

	.card-deck .card-header-image {
		height: 15rem;
	}
}

.summary .title {
	transition: color 200ms;
}

.summary:hover .title {
	color: #5694f1;
}

.tag {
	border: 1px solid #BBB;
	border-radius: 4px;
	display: inline-block;
	padding: 0 0.5rem;
	color: #555;
	text-decoration: none;
	letter-spacing: .1rem;
	text-transform: capitalize;
}

.post-nav {
	display: flex;
	justify-content: space-between;
}

#header {
	margin-bottom: 5rem;
}

#banner {
	position: relative;
	display: block;
	width: 100%;
	height: 40vh;
	min-height: 25rem;
	margin-bottom: -10rem;
	z-index: -1;
	background-size: cover;
	background-position-y: bottom;
}

#logo {
	display: block;
	margin: 0 auto;
	width: 8rem;
	height: 8rem;
}

.stylish {
	font-family: Georgia, Times, Times New Roman, serif;
	font-style: italic;
	font-weight: bolder;
	color: #000;
}

@media (min-width: 550px) {
	#logo {
		width: 10rem;
		height: 10rem;
	}

	#page-title {
		font-size: 6rem;
	}
}

.markdown img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	border-radius: 4px;
}

.markdown table {
	width: 100%;
}

/* In order to give youtube shortcode a margin bottom */
.markdown div {
	margin-bottom: 2rem;
}