<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
	<head>
		{{ partial "meta.html" . }}
		<title>
			{{ block "title" . }}
				{{ .Site.Title }}
			{{ end }}
		</title>

		<link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/normalize.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/skeleton.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">

		{{ if .RSSLink }}
			<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
			<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
		{{ end }}

		{{ template "_internal/google_analytics_async.html" . }}
	</head>
	<body>
		<div class="container">
			{{ partial "header.html" . }}

			{{ block "main" . }}
			{{ end }}

			{{ partial "footer.html" . }}
		</div>
		{{ partial "scripts.html" . }}
	</body>
</html>