<section class="summary card">
	<a class="subtle" href="{{ $.Permalink }}">
		{{ with .Params.image }}
			<img class="card-header-image" src="{{ . }}" alt="" />
		{{ end }}
		<div class="card-content">
			<header class="flex-center-horizontal">
				<h3 class="title no-margin">{{ .Title | title }}</h3>
				{{ if not .Date.IsZero }}
					<time class="text-muted" datetime="{{ .Date.Format "2006-01-02" }}">
						{{ .Date.Format "2 Jan 2006" }}
					</time>
				{{ end }}
			</header>
			<p class="text-muted">{{ .Description | markdownify }}</p>
		</div>
	</a>
</section>