{{ define "main" }}
	<section class="page-section thin">
		<article class="card">
			<header class="text-center card-header-text">
				<h1 class="no-margin">
					Page not found.
				</h1>
			</header>
			<section class="card-content markdown">
				The content you're looking for doesn't seem to exist, are you sure this is the right page?<br>
				If this error persists please <a href="https://github.com/tjallingt/tjallingt/issues">create a new issue</a> on my GitHub.
			</section>
		</article>
	</section>
{{ end }}