{{ define "main" }}
	{{ range where .Data.Pages "Section" "about" }}
		<section class="page-section thin">
			<article class="card">
				<header class="text-center card-header-text">
					<h1 class="no-margin">
						{{ .Title | title }}
					</h1>
				</header>
				<section class="card-content markdown">
					{{ .Content }}
				</section>
			</article>
		</section>
	{{ end }}
	<section class="page-section thin">
		<h1 class="text-center">
			Projects
		</h1>
		{{ range first 4 (where .Data.Pages "Section" "project") }}
			{{ .Render "summary" }}
		{{ end }}
		<a class="button" style="width: 100%;" href="/project/">
			View all projects
		</a>
	</section>
{{ end }}
